body{
    font-family: Arial, sans-serif;
    background-color: peru;
    margin: 0;
    padding: 20px;
}

fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: greenyellow;
}